Magazine.Web/MagazineApp.Common/bin
Magazine.Web/MagazineApp.Common/obj
Magazine.Web/Magazine.DAL/bin
Magazine.Web/Magazine.DAL/obj
Magazine.Web/Magazine.Domain/bin
Magazine.Web/Magazine.Domain/obj
Magazine.Web/Magazine.Web/bin
Magazine.Web/Magazine.Web/obj
Magazine.Web/Magazine.Web/*.user
Magazine.Web/MagazineApp.BLL/bin
Magazine.Web/MagazineApp.BLL/obj
Magazine.Web/MagazineApp.Contracts/bin
Magazine.Web/MagazineApp.Contracts/obj
Magazine.Web/MagazineApp.Infrastructure/bin
Magazine.Web/MagazineApp.Infrastructure/obj
Magazine.Web/packages




